:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --background-panel: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;
        --background-panel: rgba(0, 0, 0, 0.5);
    }
}

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    overflow: hidden;
}

a {
    color: var(--text-color) !important;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header {
    bottom: 0;
    width: 100%;
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    z-index: 10;
}
.loader.hidden {
    opacity: 0;
    pointer-events: none;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid var(--background-panel);
    border-top: 4px solid var(--text-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}